# Cluster settings
# This is a minimal sample file, please see cluster-settings-template.env
# for a commented version with all settings.

### Per namespace: secrets
#CS_NAMESPACE=ciab
CLOUDS_YAML=~/.config/openstack/clouds.yaml
OS_CLOUD=ciab-test
CS_CCMLB=octavia-ovn

### Registry and repository settings
CS_REGISTRY=registry.scs.community/kaas/cluster-stacks
CSO_HELM_REPO=oci://registry.scs.community/cluster-stacks/cso

### Per cluster stack settings
#CS_MAINVER=1.30 # autofilled
CS_VERSION=v3
CS_CHANNEL=custom
CS_AUTO_SUBSCRIBE=false

### Per workload cluster settings
CL_PATCHVER=1.30.11
CL_NAME=my-cluster
CL_PODCIDR=172.16.0.0/18
CL_SVCCIDR=10.96.0.0/14
CL_CONTROLNODES=1
CL_WORKERNODES=1
CL_WORKERCLASS=default-worker
CL_LBTYPE=octavia-ovn

### Autofill magic, don't touch
CS_NAMESPACE=${CS_NAMESPACE:-$OS_CLOUD}
CS_MAINVER=${CS_MAINVER:-${CL_PATCHVER%.*}}
