# Cluster settings template
# This is a file to be sourced from bash
# Don't do this with untrusted files!
#
# TODO: Check whether we can make this more compatible with v1 KaaS
# 
### Management cluster
# You do not normally override it
#KUBECONFIG=~/.kube/config
### Per namespace: secrets
# The namespace to keep your CS objects for a set of clusters (use e.g. cloud project name)
CS_NAMESPACE=clusterns
# Location of the clouds.yaml (default: ~/.config/openstack/clouds.yaml)
CLOUDS_YAML=~/.config/openstack/clouds.yaml
# Name of the cloud in there (default: openstack, any name works now)
OS_CLOUD=${OS_CLOUD:-openstack}
### Per cluster stack settings
# Kubernetes Maj.Min, e.g. 1.32 (without leading v), can be left empty (see last line)
CS_MAINVER=
# CS Template versions that matches, should be an array, e.g. [v1, v2, v0-git.XXXXXXX]
CS_VERSION=
### Now the per workload cluster settings
# Full K8s Version Maj.Min.Patch, without leading 'v', e.g. 1.32.3 (this is per cluster)
CL_PATCHVER=
# Cluster name
CL_NAME=
# Restr. Application credentials per cluster -- set lifetime in days (0/"": do not create ACs)
# Regularly run 07-cluster-secret.sh to refresh/rotate AppCreds! You need openstacktools installed for this.
CL_APPCRED_LIFETIME=
# Pod CIDR (e.g. 172.16.0.0/16)
CL_PODCIDR=172.16.0.0/18
# Service CIDR (e.g. 10.96.0.0/12)
CL_SVCCIDR=10.96.0.0/14
# Number of (initial) control plane nodes
CL_CTRLNODES=1
# Number of (initial) worker nodes
CL_WRKRNODES=1
### Autofill magic, don't touch
CS_NAMESPACE=${CS_NAMESPACE:-$OS_CLOUD}
CS_MAINVER=${CS_MAINVER:-${CL_PATCHVER%.*}}

